@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root Theme Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: "Press Start 2P", cursive;
  --font-secondary: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global Styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-secondary);
}

/* Heading Styles */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  text-transform: uppercase;
}

/* Text Selection */
::selection {
  background: rgba(255, 255, 255, 0.2);
  color: var(--foreground);
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}
